/* font styles */
* {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/* Banner section styles */

.banner-container {
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    background-image: url("../resources/banner.png"), linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.7));
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;

}

.banner-text {
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.banner-title {
    width: 623px;
    height: 190px;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

/* categories styles design */
.happy-new-year {
    display: flex;
    justify-content: center;
    align-items: center;

}

.discount {
    margin-top: 50px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.text {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 48px;
}

.party-container {
    width: 1320px;
    height: 600px;
    background-image: url("../resources/vectory.png"), linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.9));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 15px;
    margin: 120px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome-text {
    color: white;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}

.welcome-description {
    color: #ffffffcc;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.btn-primary {
    margin-top: 24px;
    padding: 15px 24px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #8F4941;
}

.party-photo {
    mix-blend-mode: normal;
}

/* offer section styles */
.offer-container {
    width: 1320px;
    height: 490px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-text {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.share-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.share-paragraph {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.img-design {
    border: 15px solid #f00;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.ellipse-img {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    margin: auto;

}

.design-year {
    margin-top: 170px;
    margin-bottom: 10px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.text-line {
    margin-bottom: 40px;
}

/* portfolio section design */
.portfolio-container {
    width: 1320px;
    margin: 100px auto;
}

.gift-text {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.gift-items {
    width: 424px;
    height: 450px;
    border-radius: 16px;
}

.gift-items:hover {
    opacity: 0.5;
    cursor: pointer;
}

.gift-card {
    display: flex;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 24px;
}

.gift-cards {
    display: flex;
    gap: 24px;
}

/* subscribe section design */

.subscribe-container {
    width: 1320px;
    margin: 100px auto;
    background-color: #e9f5f9;
    border-radius: 15px;
    margin: o auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-items {
    padding: 80px 210px;
    text-align: center;
    position: relative;
}
.subscribe{
    margin-bottom: 40px;
}

.input-box {
    border: none;
    padding: 15px 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-right: 125px;
}

.btn-subscribe {
    border: none;
    padding: 14px 30px;
    margin-left: -127px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: red;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    position: absolute;

}

/* footer section start */

.footer-container {
    width: 1519px;
    height: 600px;
    margin: 0 auto;
    background-color: #070211;
}

.footer-items {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.footer-text {
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.list {
    list-style: none;
}

.icon {
    display: flex;
    gap: 10px;
    margin-bottom: 2px;
}
.hr{
    width: 1100px;
    height: 1px;
    border: none;
    background-color: rgb(43, 41, 41);
    margin: 50px auto;
}
.social-icons{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}
.icons-img{
    width: 64px;
    height: 64px;
    padding: 24px;
}
.footer-complete{
    display: flex;
    justify-content: space-around;
}
