/* font styles */
* {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/* Banner section styles */

.banner-container {
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    background-image: url("../resources/banner.png"), linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.7));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;

}

.banner-text {
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.banner-title {
    width: 623px;
    height: 190px;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

/* categories styles design */
.happy-new-year {
    display: flex;
    justify-content: center;
    align-items: center;

}

.discount {
    margin-top: 50px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.text {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 48px;
}

.party-container {
    width: 1320px;
    height: 600px;
    background-image: url("../resources/vectory.png"), linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.9));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    margin: 120px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome-text {
    color: white;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}

.welcome-description {
    color: #ffffffcc;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.btn-primary {
    margin-top: 24px;
    padding: 15px 24px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #8F4941;
}

.party-photo {
    mix-blend-mode: normal;
}

/* offer section styles */
.offer-container {
    width: 1320px;
    height: 490px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-text {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.share-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.share-paragraph {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.img-design {
    border: 15px solid #f00;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.ellipse-img {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    margin: auto;

}

.design-year {
    margin-top: 170px;
    margin-bottom: 10px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.text-line{
    margin-bottom: 40px;
}